@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./reset.css";

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  background-color: var(--black);
}

:root {
  --black: #0F0F0F;
  --white: #fff;
  --grey: #C4C4C4;
  --grey-dark: #1D1D1D;
  --grey-middle: #373737;
  --grey-darkness: #1A1A1A;
  --green: #B0CB1F;
  --green-light: #AFBA75;
  --red: #a10b1b;
  --field: #313131;
  --table-field: #696969;

  --scroll-main: #1f1f1f;
  --scroll-back: #363636;
  --scroll-hover: #3f3f3f;

  // consts
  --header-height: 86px;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-main);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-back);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover);
}
