.LoginForm {
    height: 98vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .LoginFormTitle {
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 50px;
        text-align: center;
    }

    .LoginFormError {
        padding: 0 20px;
        text-align: center;
        color: var(--red);
        font-size: 1.125em;
        margin-bottom: 15px;
    }

    .LoginFormForma {
        display: flex;
        flex-direction: column;

        max-width: 570px;
        width: 85%;

        .InputButton {
            max-width: 80%;
            margin: 10px auto 0;
        }

        .InputWrapper {
            margin-bottom: 13px;
            height: 98px;

            input {
                margin-bottom: 1px;
            }

            .InputTitle {
                display: block;
                font-size: 1.333em;
                margin-bottom: 12px;

                span {
                    color: var(--red);
                }
            }

            .InputErrorText {
                display: inline-block;
                margin-top: 5px;
                font-weight: 400;
                font-size: 14px;
                color: var(--red);
            }
        }

        .FormBottomBlock {
            margin-top: 15px;

            display: flex;
            gap: 0 6px;
            justify-content: center;

            p {
                font-size: 0.889em;
            }

            p:first-child {
                font-weight: 400;
                color: var(--grey);
            }

            p:last-child {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .LoginForm {
        padding-left: var(--aside-collapsed);

        .LoginFormForma {
            .InputButton {
                margin-top: 0;
            }
        }
    }
}