.calendarContainer {
    max-width: 100%;
    background-color: var(--grey-dark);
    color: #fff;
    border-radius: 8px;
    padding: 15px;
}

.calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    span {
        font-weight: 500;
        text-transform: capitalize;
    }
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px 9px;
}

.calendarGridDays {
    margin-top: 17px;
    margin-bottom: 17px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 11px;

    p {
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: var(--grey)
    }
}

.calendarDay {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 40px;
}

.calendarDay.active {
    background-color: var(--green);
    color: #000;
}

.calendarDay.empty {
    visibility: hidden;
}

.Arrows {
    display: flex;
    gap: 20px;

    svg {
        cursor: pointer;
    }
}
